.footer
    .footer__logo 
        img(src="/img1/onlinelogomaker-052220-1054-9522-2000-transparent.png" alt="Natours logo")

    ul.footer__nav.navlinks.display
        li
        a#link5(href="/about-us") About us
        li
        a#link6(href="/devlopment") Forgot Password
        li
        a#link7(href="/devlopment") Become a guide
        li
        a#link8(href="/devlopment") Careere
        li
        a#link8(href="/devlopment") Contact
    p.footer__copyright &copy; by Dhruv Gopani. All rights reserved.