extends base

block content
 h3.devlop You can book your tour and upload your photo and also you can update your data.
 h3.devlop Tools which is used to make website:'Node JS','MongoDB','Express','stripe','Html,Css,Java-screipt','Pug','mongoose'