extends base

block content
 section#divForm
     h2 PLEASE ENTER YOUR EMAIL
     form#ForgotPassForm
         .form-group
             label.lable(for='exampleInputEmail3') Email address
             input#exampleInputEmail3.input(type='email', aria-describedby='emailHelp')
         button.button#ForgotPassButton(type='submit') Send Mail
