extends base

block content 
 section#divForm
     h2 LOG INTO YOUR ACCOUNT
     form#loginForm
         div.form-group
             label(for="exampleInputEmail1" class="lable") Email address
             input#exampleInputEmail1.input(type="email" aria-describedby="emailHelp")
                   
               
         div.form-group
             label(for="exampleInputPassword1" class="lable") Password
             input#exampleInputPassword1.input(type="password")
         div.forgotlink
             a(href='/fogotpassword') Forgot your password
            
                    
         button.button(type="submit") LOG IN
