extends base

block content
  section#divForm
     h2 ENTER YOUR NEW PASSWORD
     form#resetpassForm2
         .form-group
             label.lable(for='resetpassword') New Password
             input#resetpassword.input(type='password', required='', minlength='8')
         .form-group
             label.lable(for='resetpassConfirm') Confirm Password
             input#resetpassConfirm.input(type='password', required , minlength='8')
         button.button#resetpassButton(type='submit') SET PASSWORD
